<a href="https://colab.research.google.com/github/pannacottabr/Analise-de-dados-com-python-e-pandas/blob/master/analise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importando biblioteca pandas
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Gapminder.csv", error_bad_lines=False, sep=",")

In [ ]:
#visualizando as 5 primeiras linhas
df.head()

       country continent  year   lifeExp         pop   gdpPercap  Unnamed: 6
0  Afghanistan      Asia  1952  28801.00   8425333.0  779.445314         NaN
1  Afghanistan      Asia  1957  30332.00   9240934.0  820.853030         NaN
2  Afghanistan      Asia  1962  31997.00  10267083.0  853.100710         NaN
3  Afghanistan      Asia  1967     34.02  11537966.0  836.197138         NaN
4  Afghanistan      Asia  1972  36088.00  13079460.0  739.981106         NaN

In [ ]:
#Renomeando as colunas
df = df.rename(columns={"country":"Pais","continent":"Continente","year":"Ano","lifeExp":"Expectativa de vida","pop":"Pop total","gdpPercap":"PIB"})

In [ ]:
df.head(10)

          Pais Continente   Ano  ...   Pop total         PIB  Unnamed: 6
0  Afghanistan       Asia  1952  ...   8425333.0  779.445314         NaN
1  Afghanistan       Asia  1957  ...   9240934.0  820.853030         NaN
2  Afghanistan       Asia  1962  ...  10267083.0  853.100710         NaN
3  Afghanistan       Asia  1967  ...  11537966.0  836.197138         NaN
4  Afghanistan       Asia  1972  ...  13079460.0  739.981106         NaN
5  Afghanistan       Asia  1977  ...  14880372.0  786.113360         NaN
6  Afghanistan       Asia  1982  ...  12881816.0  978.011439         NaN
7  Afghanistan       Asia  1987  ...  13867957.0  852.395945         NaN
8  Afghanistan       Asia  1992  ...  16317921.0  649.341395         NaN
9  Afghanistan       Asia  1997  ...  22227415.0  635.341351         NaN

[10 rows x 7 columns]

In [ ]:
#total de linhas e colunas
df.shape

(3312, 7)

In [ ]:
df.columns

Index(['Pais', 'Continente', 'Ano', 'Expectativa de vida', 'Pop total', 'PIB',
       'Unnamed: 6'],
      dtype='object')

In [ ]:
#Verificando o tipo
df.dtypes

Pais                    object
Continente              object
Ano                     object
Expectativa de vida    float64
Pop total              float64
PIB                    float64
Unnamed: 6             float64
dtype: object

In [ ]:
#Exibindo cinco Ãºltimas linhas
df.tail()

          Pais Continente   Ano  ...   Pop total         PIB  Unnamed: 6
3307  Zimbabwe     Africa  1987  ...   9216418.0  706.157306         NaN
3308  Zimbabwe     Africa  1992  ...  10704340.0  693.420786         NaN
3309  Zimbabwe     Africa  1997  ...  11404948.0  792.449960         NaN
3310  Zimbabwe     Africa  2002  ...  11926563.0  672.038623         NaN
3311  Zimbabwe     Africa  2007  ...  12311143.0  469.709298         NaN

[5 rows x 7 columns]

In [ ]:
df.tail(15)

          Pais Continente   Ano  ...   Pop total          PIB  Unnamed: 6
3297    Zambia     Africa  1997  ...   9417789.0  1071.353818         NaN
3298    Zambia     Africa  2002  ...  10595811.0  1071.613938         NaN
3299    Zambia     Africa  2007  ...  11746035.0  1271.211593         NaN
3300  Zimbabwe     Africa  1952  ...   3080907.0   406.884115         NaN
3301  Zimbabwe     Africa  1957  ...   3646340.0   518.764268         NaN
3302  Zimbabwe     Africa  1962  ...   4277736.0   527.272182         NaN
3303  Zimbabwe     Africa  1967  ...   4995432.0   569.795071         NaN
3304  Zimbabwe     Africa  1972  ...   5861135.0   799.362176         NaN
3305  Zimbabwe     Africa  1977  ...   6642107.0   685.587682         NaN
3306  Zimbabwe     Africa  1982  ...   7636524.0   788.855041         NaN
3307  Zimbabwe     Africa  1987  ...   9216418.0   706.157306         NaN
3308  Zimbabwe     Africa  1992  ...  10704340.0   693.420786         NaN
3309  Zimbabwe     Africa  1997  ...  11404948.0   792.449960         NaN
3310  Zimbabwe     Africa  2002  ...  11926563.0   672.038623         NaN
3311  Zimbabwe     Africa  2007  ...  12311143.0   469.709298         NaN

[15 rows x 7 columns]

In [ ]:
df.describe()

       Expectativa de vida     Pop total           PIB    Unnamed: 6
count          3312.000000  3.312000e+03  3.312000e+03     88.000000
mean          20127.833066  3.124093e+07  4.594434e+05   6980.478500
std           28302.922892  1.041764e+08  3.957890e+06   9588.641633
min              30.000000  3.397000e+01  2.988462e+02    241.165877
25%              70.417500  2.423614e+06  2.678379e+03   1587.582774
50%              75.970000  7.276883e+06  8.435385e+03   3484.113173
75%           48297.000000  1.827995e+07  1.862129e+04   5794.438345
max           82603.000000  1.318683e+09  1.093479e+08  54589.820240

In [ ]:
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', ' Dem. Rep.',
       ' Rep.', 'Oceania', ' China', ' Fed. Sts.'], dtype=object)

In [ ]:
Oceania = df.loc[df["Continente"] == "Oceania"]
Oceania.head()

     Pais Continente   Ano  ...  Pop total          PIB  Unnamed: 6
975  Fiji    Oceania  1962  ...   421869.0  2039.393277         NaN
976  Fiji    Oceania  1967  ...   485000.0  2170.073285         NaN
977  Fiji    Oceania  1972  ...   544000.0  2797.759484         NaN
978  Fiji    Oceania  1977  ...   599339.0  3182.569600         NaN
979  Fiji    Oceania  1982  ...   658906.0  3209.257468         NaN

[5 rows x 7 columns]

In [ ]:
Oceania["Continente"].unique()

array(['Oceania'], dtype=object)

In [ ]:
df.groupby('Continente')["Pais"].nunique()

Continente
 China         2
 Dem. Rep.     2
 Fed. Sts.     1
 Rep.          3
Africa        49
Americas      25
Asia          37
Europe        35
FSU            6
Oceania        3
Name: Pais, dtype: int64

In [ ]:
df.groupby("Ano")["Expectativa de vida"].mean()

Ano
1950       4060.820261
1951         65.904167
1952      25703.329934
1953         66.674563
1954         67.459817
1955         67.806757
1956         67.950637
1957      25312.983869
1958         68.815936
1959         68.226579
1960         68.470837
1961         68.862480
1962      27290.088437
1963         69.595735
1964         70.063105
1965         70.259881
1966         70.447526
1967      30601.746641
1968         70.689081
1969         70.653896
1970         70.961141
1971         71.103976
1972      29008.491968
1973         71.500338
1974         71.778504
1975         71.939218
1976         72.158050
1977      29279.507002
1978         72.717567
1979         73.018717
1980         73.064524
1981         73.337399
1982      34882.598503
1983         73.787778
1984         74.100741
1985         74.112222
1986         74.452222
1987      33905.051577
1988         74.760000
1989         74.924444
1990         74.283437
1991         74.374848
1992      35947.501006
1993         74.324545
1994         74.456667
1995         74.552727
1996         75.029394
1997      39883.874960
1998         75.569697
1999         75.703636
2000         76.026364
2001         76.257879
2002      40732.278642
2003         76.586667
2004         76.921563
2005         76.718667
2006         77.887778
2007      53996.851806
Africa     1979.500000
Asia       1981.318182
Name: Expectativa de vida, dtype: float64

In [ ]:
df["PIB"].mean()

459443.3528140468

In [ ]:
df["PIB"].sum()

1521676384.5201242